
<app-nav></app-nav>
<div id="container">
  <div id="title_block">
    <div id="title">
      <span id="title_game" >{{ title }}</span>
    </div>
    <div id="scroll_down" (click)="Scroll()">
      <img src="../../../assets/category_imgs/icons8-scroll-down-50.png">
    </div>
  </div>
  <div id="content">
    <div id="content_section_1">
      <div id="content_1"> {{ description }} </div>
      <div id="img"></div>
    </div>
  </div>
</div>

<!-- ZMIANA LAYOUT 
glowne zdjecie przyciemnione  z okraglym cieniem 
nazwa wieksza duzymi literami z rozmazanym tlem  -->
