<main>
    <div id="welcomeAnimation"><span>TOP 5</span></div>
    <div id="container">
        <div id="content">
            <div class="category"
                id="games" 
                [ngClass]="{
                    'activeCategory': activeCategoryList[0],
                    'unAC': activeCategoryList[0]==false
                }"
                >
                <div class="category_title" (click)="setActiveCategory(0, '#gamesContent')" id="games_title">
                    <span>Games</span>
                </div>
                <div class="categoryImg"></div>
                <div class="categoryContent" id="gamesContent">
                    <ul>
                        <li>Assassin’s Creed III</li>
                        <li>Far Cry 3</li>
                        <li>Grand Theft Auto IV</li>
                        <li>The Elder Scrolls V: Skyrim</li>
                        <li>Gears of War</li>
                    </ul>
                </div>
            </div>

            <div class="category" 
                id="films" 
                [ngClass]="{
                    'activeCategory': activeCategoryList[1],
                    'unAC': activeCategoryList[1]==false
                }"  
                >
                <div class="category_title" (click)="setActiveCategory(1, '#filmsContent')" id="films_title">
                    <span>Films</span>
                </div>
                <div class="categoryImg"></div>
                <div class="categoryContent" id="filmsContent">
                    <ul>
                        <li>Assassin’s Creed III</li>
                        <li>Far Cry 3</li>
                        <li>Grand Theft Auto IV</li>
                        <li>The Elder Scrolls V: Skyrim</li>
                        <li>Gears of War</li>
                    </ul>
                </div>
            </div>

            <div class="category" 
                id="actors" 
                [ngClass]="{
                    'activeCategory': activeCategoryList[2],
                    'unAC': activeCategoryList[2]==false
                }"  
                >
                <div class="category_title" (click)="setActiveCategory(2, '#actorsContent')" id="actors_title">
                    <span>Actors</span>
                </div>
                <div class="categoryImg"></div>
                <div class="categoryContent" id="actorsContent">
                    <ul>
                        <li>Assassin’s Creed III</li>
                        <li>Far Cry 3</li>
                        <li>Grand Theft Auto IV</li>
                        <li>The Elder Scrolls V: Skyrim</li>
                        <li>Gears of War</li>
                    </ul>
                </div>
            </div>

            <div class="category" 
                id="singers" 
                [ngClass]="{
                    'activeCategory': activeCategoryList[3],
                    'unAC': activeCategoryList[3]==false
                }"  
                >
                <div class="category_title" (click)="setActiveCategory(3, '#singersContent')" id="singers_title">
                    <span>Singers</span>
                </div>
                <div class="categoryImg"></div>
                <div class="categoryContent" id="singersContent">
                    <ul>
                        <li>Assassin’s Creed III</li>
                        <li>Far Cry 3</li>
                        <li>Grand Theft Auto IV</li>
                        <li>The Elder Scrolls V: Skyrim</li>
                        <li>Gears of War</li>
                    </ul>
                </div>
            </div>

            <div class="category" 
                id="yt" 
                [ngClass]="{
                    'activeCategory': activeCategoryList[4],
                    'unAC': activeCategoryList[4]==false
                }"  
                >
                <div class="category_title" (click)="setActiveCategory(4, '#ytContent')" id="yt_title">
                    <span id="ihateyou">Channels</span>
                </div>
                <div class="categoryImg"></div>
                <div class="categoryContent" id="ytContent">
                    <ul>
                        <li>Assassin’s Creed III</li>
                        <li>Far Cry 3</li>
                        <li>Grand Theft Auto IV</li>
                        <li>The Elder Scrolls V: Skyrim</li>
                        <li>Gears of War</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</main>

