<main>
    <div id="container">
        <div id="content">
            <div class="category" 
                id="games" 
                [style.background-color]="randomColor()"
                [ngClass]="{'activeCategory': categoryList[0]}"
                (click)="setActiveCategory(0)"                   
                >
                {{game}}
                {{films}}
                {{actors}}
            </div>

            <div class="category" 
                id="films" 
                [style.background-color]="randomColor()"
                [ngClass]="{'activeCategory': categoryList[1]}"   
                (click)="setActiveCategory(1)" 
                >


            </div>

            <div class="category" 
                id="actors" 
                [style.background-color]="randomColor()"
                [ngClass]="{'activeCategory': categoryList[2]}"
                (click)="setActiveCategory(2)" 
            >

            </div>

            <div class="category" 
            id="singers" 
            [style.background-color]="randomColor()"
            [ngClass]="{'activeCategory': categoryList[3]}"
            (click)="setActiveCategory(3)" 
            >

            </div>

            <div class="category" 
            id="ytchannels" 
            [style.background-color]="randomColor()"
            [ngClass]="{'activeCategory': categoryList[4]}"
            (click)="setActiveCategory(4)"  
            >

            </div>
        </div>
    </div>
</main>

