$primary: #338ef5;
$NavBGC: #f3f1f5;

#container
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: center;
}

#content
{
    width: 1200px;
    height: 90vh;
    margin: auto;
    border-radius: 5px;
    background-color: $NavBGC;
   -webkit-box-shadow: 0px 0px 37px 17px rgba(226,225,227,1);
    box-shadow: 0px 0px 37px 17px rgba(226,225,227,1);
}

.category
{
    width: 75px;
    height: 100%;
    float: left;
    border-radius: 5px;
    transition: all, 0.8s;

    .categoryImg
    {
        width: 500px;
        height: 100%;
        float: left;
        background-image: url("../../assets/category_imgs/gameCategoryimg.jpg");
        background-attachment: fixed;
        background-size: contain;
        z-index: -10;
        transition: all, 0.6s;
        opacity: 1;
    }
}   
.categoryContent
{
    width: 300px;
    height: 100%;
    // background-color: red;
    color: $primary;
    margin: 0px;
    padding: 0px;
    float: left;
    font-size: 25px;
    display: flex;
    align-content: center;
    
    ul
    {
        display: block;
        float: left;
        width: 300px;
        text-align: center;
        margin: auto;
        list-style: none;
        transition:all, 0.4s;
        transition-delay: 0.3s;
        font-size: inherit;
        opacity: 1;
        
        li
        {
            margin: 10px 0px ;
        }
    }
}

// TODO: funkcja w scss ktora dobiera odpowiednie tla do kategorii

.category_title
{
    width: 75px;
    height: 100%;
    background-color: $NavBGC;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition:all, 0.8s;
    float: left;

    span
    {
        font-family: 'Modak', cursive;
        font-size: 48px;
        transform-origin: 40px;
        transform: rotate(-90deg);
        display: block;
        color: $primary;
        letter-spacing: 5px;
        
    }
}
#ihateyou::before
{
    content: 'YT';
}
.category:hover .category_title
{
    background: unset;
}

.activeCategory
{
    width: 900px !important;
    
    .categoryImg
    {
        opacity: 1;
        width: 500px;
    }
}
.unAC
{
    width: 75px !important;
    
    .categoryImg
    {
        opacity: 0;
        width: 0px;
    }
    // .categoryContent
    // {
    //     width: 0px;
    //     font-size: 0px;
    //     opacity: 0;
    //     transition: all, 0.2s;
    //     ul
    //     {
    //         width: 0;
    //         opacity: 0;
    //         transition: width, opacity, 0.3s;
    //         transition-delay: 0.1s;
    //         visibility: hidden;
    //     }
    // }
}

#games
{
    background: linear-gradient(198deg, #c94b4b, #4b134f);
    
}
#games_title
{
  
}

#films
{
   
    background: linear-gradient(198deg, #b92b27, #1565C0);
}
#films_title
{
    
}

#actors
{
  
    background: linear-gradient(198deg, #1CB5E0, #000046);
}
#actors_title
{
}

#singers
{
    
    background: linear-gradient(198deg, #43C6AC,#191654);
}
#singers_title
{
      
}

#yt
{   
    
    background: linear-gradient(198deg, #34e89e, #0f3443);
}
#yt_title
{
  
}