<main>
    <div id="welcomeAnimation">
        <div><span>TOP 5</span></div>
        <div><button (click)="welcome()">Let's go</button></div>
    </div>
    <div id="container">
        <div id="content">
            <div class="category" id="games"  [ngClass]="{'activeCategory': activeCategoryList[0],'unAC': activeCategoryList[0]==false}">
                <div class="category_title" (click)="setActiveCategory(0, '#gamesContent')">
                    <span>Games</span>
                </div>
                <div class="categoryImg"></div>
                <div class="categoryContent" id="gamesContent">
                    <ul>
                        <a routerLink="/games/Assassin's Creed III" routerLinkActive="active"><li>Assassin’s Creed III</li></a>
                        <a routerLink="/games/Far Cry 3" routerLinkActive="active"><li>Far Cry 3</li></a>
                        <a routerLink="/games/Grand Theft Auto IV" routerLinkActive="active"><li>Grand Theft Auto IV</li></a>
                        <a routerLink="/games/Dark Souls 2" routerLinkActive="active"><li>Dark Souls 2</li></a>
                        <a routerLink="/games/Gears of War" routerLinkActive="active"><li>Gears of War</li></a>
                    </ul>
                </div>
            </div>

            <div class="category" id="films" [ngClass]="{'activeCategory': activeCategoryList[1],'unAC': activeCategoryList[1]==false}">
                <div class="category_title" (click)="setActiveCategory(1, '#filmsContent')">
                    <span>Films</span>
                </div>
                <div class="categoryImg"></div>
                <div class="categoryContent" id="filmsContent">
                    <ul>
                        <li routerLink="/movies/End of Watch" routerLinkActive="active">End of Watch</li>
                        <li routerLink="/movies/A Beautiful Day in the Neighborhood" routerLinkActive="active">A Beautiful Day in the Neighborhood</li>
                        <li routerLink="/movies/Logan: Wolverine" routerLinkActive="active">Logan: Wolverine</li>
                        <li routerLink="/movies/Paranormal Activity" routerLinkActive="active">Paranormal Activity</li>
                        <li routerLink="/movies/Avengers: Endgame" routerLinkActive="active">Avengers: Endgame</li>
                    </ul>
                </div>
            </div>

            <div class="category" id="actors" [ngClass]="{'activeCategory': activeCategoryList[2],'unAC': activeCategoryList[2]==false}">
                <div class="category_title" (click)="setActiveCategory(2, '#actorsContent')">
                    <span>Actors</span>
                </div>
                <div class="categoryImg"></div>
                <div class="categoryContent" id="actorsContent">
                    <ul>
                        <li>Dwayne Johnson</li>
                        <li>Samuel L. Jackson</li>
                        <li>Jason Statham</li>
                        <li>Johnny Depp</li>
                        <li>Jennifer Aniston</li>
                    </ul>
                </div>
            </div>

            <div class="category" id="singers" [ngClass]="{'activeCategory': activeCategoryList[3],'unAC': activeCategoryList[3]==false}">
                <div class="category_title" (click)="setActiveCategory(3, '#singersContent')">
                    <span>Singers</span>
                </div>
                <div class="categoryImg"></div>
                <div class="categoryContent" id="singersContent">
                    <ul>
                        <li>Wojtek Sokól</li>
                        <li>Marcin Gutkowski</li>
                        <li>Paweł Kapliński</li>
                        <li>Marshall Mathers III</li>
                        <li>Ashley Frangipane</li>
                    </ul>
                </div>
            </div>

            <div class="category" id="yt" [ngClass]="{'activeCategory': activeCategoryList[4],'unAC': activeCategoryList[4]==false}">
                <div class="category_title" (click)="setActiveCategory(4, '#ytContent')">
                    <span id="ihateyou">Channels</span>
                </div>
                <div class="categoryImg"></div>
                <div class="categoryContent" id="ytContent">
                    <ul>
                        <li>Pasja informatyki</li>
                        <li>DesignCourse</li>
                        <li>TechLipton</li>
                        <li>TVGRYpl</li>
                        <li>Astrofaza</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</main>

