/* You can add global styles to this file, and also import other style files */
$primary: #338ef5;
$NavBGC: #f3f1f5;
*
{
    font-family: 'Baloo Bhai', cursive;
}
body
{
    margin: 0;
    background-color: $NavBGC;
    overflow: hidden;
}