<nav>
  <div  id="nav_container">
   <a routerLink="/" routerLinkActive="active"><span id="logo">TOP 5</span></a>
    <div id="nav_content">
      <div class="nav_elements">
        <span class="element" (click)="RetriveGameNavDesc()">Games</span></div>
      <div class="nav_elements">
       <span class="element" >Films</span>
      </div>
      <div class="nav_elements">
        <span class="element">Actors</span>
      </div>
      <div class="nav_elements">
        <span class="element">Singers</span>
      </div>
      <div class="nav_elements">
        <span class="element">YT Channels</span>
      </div>
    </div>
  </div>
</nav>

<div id="category_elements_description">
  <div id="elements_list">
    <ul id="navDescList"></ul>
  </div>
  <div id="elements_description">
      <div id="imgDesc"></div>
      <div id="description"></div> 
  </div>
  <div id="collapse" (click)="HideSpecificCategoryElements()">colapse</div>
</div>